.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalairContainer {
  position: fixed;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 20px;
  text-align: center;
}

.closeair {
  position: fixed;
  top: 8px;
  right: 20px;
  cursor: pointer;
  color: white;
}

.contentair p {
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.textair {
  font-size: 50px;
  color: white;
  margin-bottom: 0;
}

.infoair {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.infoair p {
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.linkair {
  text-decoration: none;
  background-color: #cb7500;
  font-size: 25px;
  margin-left: 20px;
  color: white;
  width: 150px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  height: 33px;
}

.linkair:hover {
  background-color: white;
  color:#cb7500;
}

.githubair {
  color: #cb7500;
  font-size: 30px;
  margin-left: 20px;

}

.githubair:hover {
  color: white;
}

.techair {
  color: #cb7500 ;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

/* .imageair {
  color: pink;
  font-size: 50px;
} */
