.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalContainer {
  position: fixed;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
}

.image img {
  height: 600px;
  width: 325px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.close {
  position: fixed;
  top: 8px;
  right: 20px;
  cursor: pointer;
  color: white;
}

.content p {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.text {
  font-size: 50px;
  color: white;
  margin-bottom: 0;
}

.info {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.info p {
  color: white;
  font-size: 25px;
}

.info a {
  text-decoration: none;
  background-color: violet;
  font-size: 25px;
  margin-left: 20px;
  color: white;
  width: 120px;
}

.github {
  color: white;
  font-size: 23px;
  margin-left: 20px;

}
