.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalContainer {
  position: fixed;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  border-radius: 20px;
}

/* .image img {
  height: 600px;
  width: 325px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
} */

.close {
  position: fixed;
  top: 8px;
  right: 20px;
  cursor: pointer;
  color: white;
}

.content p {
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.text {
  font-size: 50px;
  color: white;
  margin-bottom: 0;
}

.info {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.info p {
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.linkair {
  text-decoration: none;
  background-color: #cb7500;
  font-size: 25px;
  margin-left: 20px;
  color: white;
  width: 150px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  height: 33px;
}

.linkair:hover {
  background-color: white;
  color:#cb7500;
}

.githubair {
  color: #cb7500;
  font-size: 30px;
  margin-left: 20px;

}

.githubair:hover {
  color: white;
}

.tech {
  color: #cb7500 ;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  /* display: flex;
  justify-content: space-around; */
  /* margin-right: 20px; */
}
/*
.tech p {
  border: 1px solid #9382FF;
  width: 160px;
} */
