.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalContainer {
  position: fixed;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  border-radius: 20px;
}


.close {
  position: fixed;
  top: 8px;
  right: 20px;
  cursor: pointer;
  color: white;
}

.content p {
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

.text {
  font-size: 50px;
  color: white;
  margin-bottom: 0;
}

.info {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.info p {
  color: white;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.link {
  text-decoration: none;
  background-color: #9382FF;
  font-size: 25px;
  margin-left: 20px;
  color: white;
  width: 150px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  height: 33px;
}

.link:hover {
  background-color: white;
  color:#9382FF;
}

.github {
  color: #9382FF;
  font-size: 30px;
  margin-left: 20px;

}

.github:hover {
  color: white;
}

.tech {
  color: #9382ff ;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .content p {
    margin-bottom: 50px;
    font-size: 20px;
  }

  .info{
    margin-left: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1435px) {
  .content p {
    margin-bottom: 50px;
    font-size: 20px;
  }

  .info p {
    font-size: 20px;
  }

  .link {
    font-size: 20px;
    height: 27px;
    width: 120px;
  }

  .tech {
    font-size: 15px;
  }
}
