.final-project img{
  background-color: white;
}
.final-project p,
.airbnb-clone p {
  color: #E4C88E;
  font-size: 18px;
}

.airbnb-clone img,
.final-project img {
  height: 250px;
  width: 500px;
  border-radius: 40px;
  margin-top: 30px;
}


.projects {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: black;
  height: 450px;
  width: 530px;
  text-align: center;
  border-radius: 40px;
}
