.final-project img{
  height: 380px;
  width: 700px;
  background-color: white;
  border-radius: 60px
}

.airbnb-clone img {
  height: 380px;
  width: 700px;
  border-radius: 60px;
}

.projects {
  display: flex;
  justify-content: space-around;
}
