.final-project img{
  height: 250px;
  width: 500px;
  background-color: white;
  /* border-radius: 60px */
}

.airbnb-clone img {
  height: 250px;
  width: 500px;
  /* border-radius: 60px; */
}

.projects {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: black;
  height: 600px;
  width: 510px;
  text-align: center;
}
