 .eachSlide {
  margin: 0 20px 20px 20px;
}

.eachSlide img {
  height: 525px;
}

.sizeCarousel{
  width: 320px;
}

.carousel button {
  color: white;
}

/* .imageSlide{
  height: 570px;
} */

/* .carousel .slider-wrapper {
  width: 350px;
} */
