.intro{
  color: #E4C88E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Aboreto', cursive;
  margin-top: 250px;
  margin-bottom: 390px;
}

.intro h1{
  margin-left: 120px;
  font-size: 90px;
}

.intro img{
  width: 380px;
  height: 380px;
  margin-right: 145px;
}
