.intro{
  color: #E4C88E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Aboreto', cursive;
  margin-top: 250px;
  margin-bottom: 390px;
}

.intro h1{
  margin-left: 120px;
  font-size: 90px;
}

.intro img{
  width: 380px;
  height: 380px;
  margin-right: 145px;
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .intro {
    margin-top: 230px;
    margin-bottom: 390px;
  }

  .intro h1 {
    font-size: 57px
  }

  .intro img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1024px) and (max-width: 1435px) {
  .intro {
    margin-top: 144px;
    margin-bottom: 300px;
  }

  .intro img{
    width: 280px;
    height: 280px;
    margin-right: 85px;
  }
  .intro h1 {
    font-size: 55px;
  }
}
