.intro{
  color: #E4C88E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-family: 'Aboreto', cursive;
  margin-top: 100px;
  margin-bottom: 250px;
}

.intro h1{
  margin-left: 120px;
}

.intro img{
  width: 340px;
  height: 340px;
  margin-right: 145px;
}
