.cards {
  background-color: white;
  padding: 30px 70px;
  border-radius: 15px;
}


.skills {
  display: flex;
  justify-content: space-around;
}

/* .title {
  color: #E4C88E;
  text-align: center;
  font-size: 55px;
  font-family:'Aboreto', cursive;
} */


/* .skills h2 {
  color: #E4C88E;
  margin-bottom: 80px;
} */

/* .white-background {
  background-color: #ffff;
  height: 500px;
  width: 305px;
  text-align: center;
  border-radius: 30px;
} */

/* .black-header{
  background-color: black;
  height: 80px;
  border-radius: 29px 29px 0 0;
} */

/* .frontend h2,
.backend h2,
.other h2 {
  margin-top: 0;
} */

/* .black-header img {
  margin-left: 0;
  margin-top: 10px;
} */

/* .laptop {
  color: #f1dd3f;
  height: 36px;
  margin-top: 10px;
} */

/* .terminal {
  color: #f1dd3f;
  height: 25px;
  margin-top: 13px;
  margin-bottom: 5px;
} */
