.contact-container {
  margin-bottom: 100px;
}

.contactCard {
  background-color: #E4C88E;
  height: 270px;
  width: 1008px;
  border-radius: 30px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.contentCard {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  padding-top: 2px;
  margin-left: 30px;
}

.contactIcon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.fontAwesome {
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.fontAwesome:hover{
  color: white;
}
