.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  box-shadow: 1px 1px 30px #E4C88E;
}

.navbar img {
  margin: 10px 0 10px 30px;
  padding-left: 60px;
}

.navbar a {
  margin-right: 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #E4C88E;
  padding-right: 50px;
}

.navbar a:hover {
  color: #ffff;
  cursor: pointer;
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .navbar img {
    height: 50px;
  }

  .navbar a {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .navbar img {
    height: 40px;
  }

  .navbar a {
    font-size: 17px;
  }
}
