.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar {
  margin-top: 10px;
}

.navbar img {
  margin-top: 10px;
  margin-left: 30px;
}

.navbar a {
  margin-right: 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #E4C88E;
}

.navbar a:hover {
  color: #ffff;
  cursor: pointer;
}

@media (max-width: 1425px) {
  .navbar img {
    height: 40px;
  }

  .navbar a {
    font-size: 17px;
  }
}
