.title h2{
  color: #E4C88E;
  text-align: center;
  font-size: 55px;
  font-family:'Aboreto', cursive;
}

.logo-computer img{
  width: 380px;
  height: 380px;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description {
  background-color: #E4C88E;
  height: 270px;
  width: 740px;
  text-align: center;
  border-radius: 50px;
  font-size: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.description p {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  margin-bottom: 150px;
}
